@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Manolo Mono';
    src: url('../public/font/manolomono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@layer base {
    html {
        font-family: 'Manolo Mono', monospace;
    }
}